body {
	margin: 0px;
}

.DivWholeWidth {
	width: 100%;
}

.DivBalls {
	width: 100%;
	table-layout: fixed;
	text-align: center;
	font-size: 20px;
}

#EQUATIONS_RED {
	width: 100%;
	background: rgba(220,220,220,1);
	table-layout: auto;
	text-align: center;
	font-size: 3.5vw;
	font-weight: bold;
	font-family: "Times New Roman"; 
}

table {
	border: solid;
	border-color: gray;
	border-width: 1px;
	margin: 0px;
	padding: 0px;
}

td {
	border-color: black;
	border: solid;
	border-width: 1px;
}

th {
	width: 100px;
	border-color: black;
	border: solid;
	border-width: 1px;
	font-size: 14px;
}

.RedTable {
	width:100%;
	table-layout: auto;
	font-weight: bold; 
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
	text-align:left;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom:0px; 
	margin-top:0px; 
	vertical-align: top; 
	background-color: rgba(255, 150, 150, 0.8);
}

.RedTable td {
	border: solid;
	border-width: 1px;
	border-color: rgba(255, 200, 200, 0.8);
}

#TEXT_RED_SCALE {
	width: 30px;
}
#TEXT_GREEN_SCALE {
	width: 30px;
}
#TEXT_BLUE_SCALE {
	width: 30px;
}



#GreenTable {
	width:100%;
	font-weight: bold; 
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
	text-align:left;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom:0px; 
	margin-top:0px; 
	vertical-align: top; 
	background-color: rgba(150, 255, 150, 0.8);
}

#GreenTable td {
	border: solid;
	border-width: 1px;
	border-color: rgba(200, 255, 200, 0.8);
}

#BlueTable {
	width:100%;
	font-weight: bold; 
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
	text-align:left;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom:0px; 
	margin-top:0px; 
	vertical-align: top; 
	background-color: rgba(150, 150, 255, 0.8);
}

#BlueTable td {
	border: solid;
	border-width: 1px;
	border-color: rgba(200, 200, 255, 0.8);
}

.myButton {
	background-color:transparent;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:10px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:5px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:transparent;
}
.myButton:active {
	position:relative;
	top:1px;
}

.BODYTEXT {
	background-color: rgba(150, 150, 150, 0.8);
	padding:5px 5px;
	margin: 2px;
}

html { 
        background: url('https://images.alphacoders.com/482/thumb-1920-482000.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

}

.PLAYERBUTTONS {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:5px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:5px 5px;
	text-decoration:none;
	text-shadow:0px 0px 0px #2f6627;
}
.PLAYERBUTTONS:hover {
	background-color:#5cbf2a;
}
.PLAYERBUTTONS:active {
	position:relative;
	top:1px;
}

.text_init_values {
	height: 20px;
	width: 40px;
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 0px 0px;
	border: 1px solid #b7b7b7;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font: Arial, Helvetica, sans-serif;
	color: rgba(0,0,0,1);
	-o-text-overflow: clip;
	text-overflow: clip;
	background: rgba(230,230,230,1);
	text-shadow: 0 0 0 rgba(255,255,255,0.66) ;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

input[type = "range"] {
	vertical-align: center;
}

select {
	border:1px solid #aaaaaa;
	background-color:transparent;
	height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0px;
    text-overflow: '';
    padding: 0px;
}

canvas{
	width: 100%;
}


.canvastable {
	width:100%; 
	font-weight: bold; 
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
	margin-bottom:5px; 
	margin-top:5px; 
	vertical-align: top; 
	background-color: rgba(150, 150, 150, 0.9);
}

.insttable {
	width:100%; 
	font-weight: bold; 
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
	text-align:center; 
	margin-bottom:5px; 
	margin-top:5px; 
	vertical-align: top; 
	background-color: rgba(150, 150, 150, 0.8);
}

.text_finalvalues {
	height: 20px;
	max-width: 50px;
	min-width: 40px;
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 0px 0px;
	border: 1px solid #b7b7b7;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font: Arial, Helvetica, sans-serif;
	color: rgba(0,0,0,1);
	-o-text-overflow: clip;
	text-overflow: clip;
	background: rgba(230,230,230,1);
	text-shadow: 0 0 0 rgba(255,255,255,0.66) ;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

