	<div id="UPLOAD_FORM" class="tabcontent">
			<table class='table'>
				<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<tr>
					<td>
	                    <div class="input-group">
	                        <span class="input-group-addon">
	                            <span class="glyphicon glyphicon-folder-open"></span>
	                        </span>
	                        {{ upload_form.file }}
	                    </div>
					</td>
					<td><button id="CREATE_APP_FORM_SUBMIT_BUTTON" class="btn btn-sm btn-primary pull-right" type="submit"><span class="glyphicon glyphicon-upload"></span>Upload</button></td>
				</tr>
				</form>
				<tr>
					<td colspan="2">
						<div id='DIRECTORY_WINDOW'>
							<div id="accordion">
							  	{%for dir in dir_tree %}
							    <div class="panel panel-default">
							      	<div class="panel-heading">
							          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{dir.0}}"><span class="glyphicon glyphicon-folder-close"></span>&nbsp {{ dir.0 }}</a>

							      	</div>
						    	</div>
						      	<div id="collapse{{dir.0}}" class="panel-collapse collapse">
							            <ul class="list-group">
								            {% for file in dir %}
								            	{% if forloop.counter > 1 %}
								            	{% if file.0.file_type == "jpg" or file.0.file_type == "png"   %}
									            <li class="list-group-item">
									                <a href="{{file.0.file_path}}"><img class="img-responsive img_icon" src="{{file.0.file_path}}"> &nbsp{{file.0.filename}}</a>
									                <a href="{% url 'delete_file' file.0.id %}" class="btn btn-xs btn-danger pull-right"><span class="glyphicon glyphicon-trash"></span></a>
									                <a href="{% url 'edit_file' file.0.id %}" class="btn btn-xs btn-primary pull-right"><span class="glyphicon glyphicon-edit"></span></a>
									            </li>
								            	{% else %}
									            <li class="list-group-item">
									            	<a href="{{file.0.file_path}}"><span class="glyphicon glyphicon-file"></span>&nbsp{{file.0.filename}}</a>
									            	<a href="{% url 'delete_file' file.0.id %}" class="btn btn-xs btn-danger pull-right"><span class="glyphicon glyphicon-trash"></span></a>
									            	<a href="{% url 'edit_file' file.0.id %}" class="btn btn-xs btn-primary pull-right"><span class="glyphicon glyphicon-edit"></span></a>
									            </li>
									            {% endif %}
									            {% endif %}
								            {% endfor %}
								        </ul>
						    	</div>
						    	{% endfor %}
						  	</div>
						</div>
					</td>
				</tr>
			</table>
	</div>

<style type="text/css">
	#DIRECTORY_WINDOW a {
		text-decoration: none;
	}
	#DIRECTORY_WINDOW .img_icon {
		width: 40px;
		height: 40px;
		float: left;
	}
	#DIRECTORY_WINDOW .panel {
		margin: 0px;
		padding-bottom: 0px;
	}
	#DIRECTORY_WINDOW .list-group-item {
		overflow: hidden;
		min-height: 10px;
		padding-left: 36px;
		text-align: middle;
	}

</style>

<script type="text/javascript">
	function validateFileUploadForm() {
		file_upload_folder = document.getElementById("FILE_UPLOAD_FOLDER")
		if (file_upload_folder.values.indexOf(' ') >= 0) {
			alert
		}
	}
</script>
