{% extends 'appsworld/base.html' %}
{% load staticfiles %}

    {% block title %}[Website Name] | Edit App {% endblock title %}
    {% block head_favicon %}
        <link rel="icon" type="image/png"
              href="{{ STATIC_URL }}images/favicon.ico">
    {% endblock head_favicon %}
    {% block head_meta %}
        {% block head_meta_charset %}
            <meta http-equiv="Content-Type"
                  content="text/html; charset=utf-8" />
        {% endblock head_meta_charset %}
        {% block head_meta_contentlanguage %}
            <meta http-equiv="Content-Language" value="en-US" />
        {% endblock head_meta_contentlanguage %}
        {% block head_meta_viewport %}
            <meta name="viewport"
                  content="width=device-width, initial-scale=1.0">
        {% endblock head_meta_viewport %}
    {% endblock head_meta %}
    {% block head_css %}
        {% block head_css_site %}
            <link href="{% static 'appsworld/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        {% endblock head_css_site %}
        {% block head_css_page %}
        <style type="text/css">
            #CONTENT_WRAPPER {
                background-color: lightgray;
                margin-top: 50px;
            }

            @media (min-width: 0px) and (max-width: 767px) {
                #COL1 {
                    display: none !important;
                }
                #COL2 {

                }
                #COL3 {
                    display: none !important;
                }
                #COL4 {
                    display: none !important;
                }
            }

            @media (min-width: 768px) and (max-width: 991px) {
                #COL1 {
                    display: none !important;
                }
                #COL2 {

                }
                #COL3 {
                    display: none !important;
                }
                #COL4 {
                    display: none !important;
                }
            }

            @media (min-width: 992px) and (max-width: 1366px) {
                #COL1 {

                }
                #COL2 {
                    background-color: white;
                }
                #COL3 {
                    background-color: white;
                }
                #COL4 {

                }
            }

            @media (min-width: 1367px){
                #COL1 {

                }
                #COL2 {
                    background-color: white;
                }
                #COL3 {

                }
                #COL4 {

                }
            }

            @media (min-width: 0px) and (max-width: 767px) {
                #list_archive{
                    display: none !important;
                }
            }

        </style>

        {% endblock head_css_page %}

        {% block head_css_section %}
        {% endblock head_css_section %}

    {% endblock head_css %}

{% block content %}
    {% block header %}
        {% include 'appsworld/navigation_bar_top.html' %}
    {% endblock header %}
    <div id="CONTENT_WRAPPER">
            <div id="COL1" class="col-xs-12 col-sm-12 col-md-4 col-lg-1">
            Space
            </div>
            <div id="COL2" class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class='container-fluid'>
                    <div class="row">
                        {% include 'appsworld/section_banner.html' %}
                    </div>
                    <div class="row">
                        <div id="col_archive" class="col-sm-12 col-md-4">
                            <div id="list_archive" class="row">
                                {% include 'appsworld/list_archive.html' %}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <div class="row">
                            {% include 'appsworld/media_feed.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="COL3" class="col-xs-12 col-sm-12 col-md-2 col-lg-3">
            Friends
            </div>
    </div>

{% endblock %}

    {# Set of blocks that can be used to display JavaScript files #}
    {% block footer_javascript %}
        {% block footer_javascript_site %}
            <script src="{% static 'appsworld/js/jquery-3.1.1.js' %}"></script>
            <script src="{% static 'appsworld/js/bootstrap.js' %}"></script>
        {% endblock footer_javascript_site %}
        {% block footer_javascript_page %}
            <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"</script>
        {% endblock footer_javascript_page %}
        {% block footer_javascript_section %}
        {% endblock footer_javascript_section %}

    {% endblock footer_javascript %}